/* CSS Document */


/* ---------------------------------------------------------------
floatingBnrBottom
--------------------------------------------------------------- */
.floatingBnrBottom{
	position: fixed;
	left: 0;
	bottom: -86px;
	width: 100%;
	text-align: center;
	/*border:solid 1px #bfbfbf;*/
	/*background-color: #cce1f4;*/
	/*box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 3px 0px;*/
	z-index: 15000;
	*display: none;
}
.floatingBnrBottom__contents{
	position:relative;
	width:1200px;
	margin:0px auto;
	padding: 9px 0;
	text-align:left;
	z-index:15020;
}
.page1 .floatingBnrBottom__contents{
	width:750px;
}
.floatingBnrBottom p { /* for misumiec.css */
	margin-bottom: 0;
}


/* ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ */
.floatingBnrBottom__contents--point{
	width: 800px;
	margin: 0 auto;
}
.floatingBnrBottom__contents--point .lead {
	float: left;
	width: 573px;
	line-height: 0;
}
.floatingBnrBottom__contents--point .btn {
	float: right;
	width: 194px;
}

.floatingBnrBottom__contents--point .txt,
.floatingBnrBottom__contents--point .txt2,
.floatingBnrBottom__contents--point .btn > ul li a,
.floatingBnrBottom__close{
	display: block;
	background-image: url("/operation/floating_bnr/bnr_20180607/img/sprite_footer_floatingbnr_180607.png");
	background-repeat:no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* ãƒ†ã‚­ã‚¹ãƒˆ */
.floatingBnrBottom__contents--point .txt, 
.floatingBnrBottom__contents--point .txt2{
	display: inline-block;
	vertical-align: top;
}
.floatingBnrBottom__contents--point .txt{
	width: 366px;
	height: 64px;
	background-position: 0 0;
}
.floatingBnrBottom__contents--point .txt2{
	width: 160px;
	height: 64px;
	background-position: -395px 0;
	margin:0 0 0 30px;
}

/* ãƒœã‚¿ãƒ³ */
.floatingBnrBottom__contents--point .btn > ul{
	float: left;
	width: 140px;
}
.floatingBnrBottom__contents--point .btn > ul li:first-child{
	margin:0 0 5px;
}
.floatingBnrBottom__contents--point .btn > ul li a{
	width:140px;
	height:30px;
}
.floatingBnrBottom__contents--point .link--ViewDetails {
	background-position:-579px 0;
}
.floatingBnrBottom__contents--point .link--RegisterNow {
	background-position:-579px -35px;
}

/* é–‰ã˜ã‚‹ãƒœã‚¿ãƒ³ */
.floatingBnrBottom__close{
	float: right;
	width: 39px;
	height: 45px;
	margin: 10px 0 0;
	background-position: right -6px;
}
.floatingBnrBottom__close > a{
	display: block;
	width: 23px;
	height: 25px;
	margin: 13px 0 0 16px;
	cursor: pointer;
}